.about {
  color: #fff;
  font-weight: bold;
}

.about_container {
  width: 1510px;
  height: auto;
  margin: 0 auto;
}

.about_container .about_inner {
  display: grid;
  grid-template-columns: repeat(2, 514px);
  gap: 88px;
  justify-content: center;
  margin-top: 130px;
  position: relative;
}

.about_title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 28px;
}
.biography img {
  position: absolute;
  width: 320px;
  height: 160px;
  top: -30px;
  left: 260px;
}

.biography {
  width: 514px;
  height: 250px;
}

.bio_txt {
  width: 483px;
  height: 250px;
  line-height: 25px;
  font-size: 15px;
  color: #2c2c2c;
  margin-top: 140px;
  /* text-align: center; */
}

.personal {
  width: 514px;
  height: 250px;
}

.personal p {
  width: 480px;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.ps_tt {
  font-weight: 400;
  font-size: 15px;
}

.ps_txt {
  color: #2c2c2c;
  text-align: left;
  font-size: 15px;
}

.education {
  width: 514px;
  height: 150px;
}

.edu_tt {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  width: 480px;
  font-size: 15px;
}

.edu_txt {
  font-size: 15px;
}

.license {
  width: 514px;
  height: 150px;
}

.work {
  width: 514px;
}

.w_tt {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  width: 480px;
}

.skills {
  display: block;
}

.skills img {
  display: inline-block;
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 5px;
}
