body {
  overflow-x: hidden;
}

/* left menu */
.left {
  background-color: #444;
  position: fixed;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 410px;
}

.left_inner {
  display: block;
  justify-content: center;
  width: 100%;
  height: 300px;
  margin-left: 100px;
}

.logo img {
  width: 200px;
  display: block;
  margin-bottom: 30px;
}

.menu {
}

.gnb li {
  display: block;
  padding: 20px 0;
  text-align: left;
}

.gnb li a {
  color: #bbb;
  font-size: 15px;
}

.gnb li a:hover {
  color: #fff;
  font-weight: bold;
}

/* right */

.right {
  display: block;
  overflow-y: auto;
  height: auto;
  width: 1510px;
  margin-left: 410px;
}

.right_inner {
  width: 1180px;
  height: auto;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.up_contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.web_title {
  display: flex;
  align-items: end;
  gap: 20px;
  margin-bottom: 20px;
}

.web_logo img {
  width: 50px;
}

.web_tt {
  font-size: 20px;
}

.web_txt {
  width: 520px;
  height: 100px;
  font-size: 16px;
  margin-top: 70px;
  margin-bottom: 30px;
}
.write {
  color: #000;
  margin-top: 30px;
}

.lan {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.lan ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.lan ul li img {
  width: 40px;
  height: 40px;
}

.web_view {
  width: 500px;
  height: 370px;
  align-items: center;
  overflow: hidden;
  border: 1px solid #eee;
  border-radius: 15px;
}

.web_view .view img {
  display: block;
  width: 500px;
  height: 370px;
  object-fit: cover;
}

.link {
}

.lks {
  margin-top: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.lks li {
  display: flex;
}

.lks li a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #898989;
  border-radius: 20px;
  font-size: 14px;
  color: #000;
  gap: 10px;
  width: 100px;
  height: 40px;
}

.talk {
  margin-top: 130px;
  margin-bottom: 30px;
}

.sm_tt {
  margin-bottom: 30px;
  font-weight: bold;
}

.talk_txt {
  width: 1180px;
  font-size: 16px;
  line-height: 1.6;
}
.talk_tag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 1px 1px gray;
  margin-bottom: 100px;
}

.function {
  margin-bottom: 100px;
}

.fun_list {
  /* display: grid; */
  /* grid-template-columns: repeat(2, 377px); */
  /* justify-content: center; */
  gap: 15px;
  display: flex;
}

.function .sm_tt {
  margin-bottom: 60px;
}

.fun_list li {
  width: 285px;
  height: 300px;
  display: block;
  overflow: hidden;
  text-align: center;
}

.fun_list li .bt {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 2px 5px 2px 5px;
  background-color: #ddd;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}

.fun_list li .st {
  text-align: center;
  color: #898989;
  font-size: 15px;
}

.fun_list li .fun_img {
  margin-bottom: 20px;
  overflow: hidden;
  width: 285px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.fun_list li .fun_img img {
  width: 285px;
  height: 200px;
  display: block;
}

.more_web {
  text-align: center;
  margin-bottom: 30px;
}

.more_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.more_btn li {
  display: flex;
}

.more_btn li a img {
  width: 100px;
  height: 100px;
  border-radius: 30px;
}

.more_btn li a img:hover {
  box-shadow: 2px 2px 5px black;
}

/* 버드와이저 롤링배너 */
.bud_img {
  margin-bottom: 20px;
  overflow: hidden;
  width: 377px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.budbeats {
  width: 160px;
  height: 50px;
  display: block;
  border-radius: 20px;
  border: 1.5px solid #dc0019;
  line-height: 50px;
}
.budbeats a {
  width: 160px;
  height: 50px;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  line-height: 40px;
}

.budbeats a > div {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  gap: 10px;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    left: 0;
  }
  to {
    left: -1000px;
  }
}

.budbeats a > div img {
  /* max-width: 100%; */
}
